<ul id="nav">
	<li>
		<%=
			link_to_unless_current("Home", {:controller => 'admin', :action => 'index'}) do
				active_nav_item("Home")
			end
		%>
	</li>
	<li>
		<%= 
			link_to_unless_current("Categories", {:controller => 'admin', :action => 'categories'}) do
				active_nav_item("Categories")
			end	
		%>
	</li>
	<% if logged_in? %>
		<li class="session">
			<%= link_to "Logout", { :controller => 'sessions', :action => 'destroy' }, { :class => 'session' } %>
		</li>
	<% else %>
		<li class="session">
			<%= link_to "Login", { :controller => 'sessions', :action => 'new' }, { :class => 'session' } %>
		</li>
	<% end %>
	
	<div class="clear">&nbsp;</div>
	
</ul>