body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #222222;
  color: #222222; }

a {
  color: #548500; }

a:hover {
  text-decoration: none;
  color: #548500; }

div.container_12 {
  background: #fff; }

h1 {
  letter-spacing: -3px;
  font-size: 34px;
  color: #222; }
  h1 span.divider {
    color: #ddd;
    font-size: 64px;
    position: relative;
    top: 10px; }

h2 {
  letter-spacing: -2px; }

h3 {
  letter-spacing: -1px;
  font-weight: normal;
  font-size: 20px; }

.success, .error {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px; }

.success {
  background: #9adb6e;
  border: #2baa05 2px solid; }

.error {
  background: #f05d5d;
  border: #961d1d 2px solid; }

/* Forms */
fieldset {
  border: 1px solid #222;
  padding: 20px; }
  fieldset legend {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -2px; }

label {
  font-weight: bold; }

input.text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -1px; }

/* Header & Navigation */
#header {
  padding-top: 10px; }
  #header #nav {
    list-style: none;
    border-bottom: #222 solid 1px; }
    #header #nav li {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: 5px;
      padding: 0;
      font-size: 14px;
      font-family: Georgia, Times, serif; }
      #header #nav li a, #header #nav li div.active_item {
        display: block;
        color: #222;
        padding: 2px 15px;
        background: #ccc;
        text-decoration: none; }
      #header #nav li div.active_item {
        text-decoration: underline;
        background: #9adb6e; }
      #header #nav li a:hover {
        background: #9adb6e; }
    #header #nav li.session {
      float: right;
      margin-right: 0; }

/* Data Tables */
table {
  width: 80%;
  margin: 10px auto; }
  table th {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border-right: solid 2px #fff;
    background: #9adb6e;
    padding-top: 2px;
    padding-bottom: 2px; }
  table td {
    border: none;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px; }
  table tr.odd {
    background: #fff; }
  table tr.even {
    background: #D5F5C1; }

/* Show/Edit Pages */
#sidebar {
  background: #EBFFBF;
  padding: 10px 0; }
  #sidebar * {
    margin-left: 15px; }

.editable {
  margin-bottom: 10px; }
  .editable h2 {
    margin-bottom: 0; }

.stats {
  margin-bottom: 20px; }

a#add_custom_field {
  text-decoration: none; }
  a#add_custom_field img {
    background: #9adb6e url(../images/icons/bg_rounded.gif) no-repeat;
    vertical-align: middle; }

a.remove {
  margin-top: 5px; }
  a.remove img {
    background: #f05d5d url(../images/icons/bg_rounded.gif) no-repeat;
    vertical-align: middle; }
