/*----------------------------------------------------------------
  Folio Screen Stylesheet

  Created by Mike Green on 2008-02-18.
----------------------------------------------------------------*/

/*
* {
	padding:0;
	margin:0;
}
*/

body {
	font-family:Verdana, Georgia, "Times New Roman", serif;
}

h1 {
	font-family:Arial;
	font-weight:bold;
	font-size:36px;
	letter-spacing:-4px;
	color:#4d4d4d;
}

h1 em {
	color:#000;
}

table, td, th {
	border:solid 1px #000;
}





