/*----------------------------------------------------------------
  Folio Screen Stylesheet

  Created by Mike Green on 2008-02-18.
----------------------------------------------------------------*/

body {
	font-family:Georgia, "Times New Roman", serif;
}

h1 {
	font-family:Arial;
	font-weight:bold;
	font-size:36px;
	letter-spacing:-4px;
	color:#4d4d4d;
}

h1 em {
	color:#000;
}


