<h2>Editing <%= @category.name %></h2>

<%= error_messages_for 'category' %>
<% form_for :category, @category, :url => { :action => 'update' } do |f| %>
	<p>
		<label for="category[name]" class="required">Name</label><br />
		<%= f.text_field :name %>
	</p>
	<%= submit_tag 'Create' %>
<% end %>