<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<title><%= Settings.site_title %></title>
	
		<% if Settings.use_css_grid %>
			<%= stylesheet_link_tag 'reset', 'text', '960' %>
		<% end %>
	
		<%= javascript_include_tag :defaults %>
	</head>

	<body>
		<div class="container_12">
		
			<div class="grid_12" id="header">
				
			</div>
			
			<div class="clear">&nbsp;</div>
			
			<div class="grid_12" id="body">
			
			</div>
		
		</div>
	</body>
</html>
